.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    max-width: 100%;
}

.slick-prev:before,
.slick-next:before {
    /* font-size: 20px; */
    color: #666;
}
.slick-prev{
    top:50%;
    margin-left: 20px;
    z-index: 10;

}
.slick-next{
    top:50%;
    margin-right: 20px;
    z-index: 10;
}
.slick-list{
    z-index: 5;
}

.slick-slide {
    transition: all ease-in-out .3s;
    opacity: .2;
}

.slick-active {
    opacity: .5;
}

.slick-current {
    opacity: 1;
}

.hbd-daily-contents .hbd-description{
    font-size: .8em;
}

.hbd-thumnail-link{
    position: relative;
    display: block;
    float: left;
    margin-right: 13px;
    margin-bottom: 10px;
    max-width:100%;
    width:300px;
}
.hbd-thumnail-link img{
    /* z-index: 2; */
    width: 100%;
}
.hbd-thumbnail-caption{
    /* z-index: 1; */
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
    text-decoration: none;
    color: white;
    background-color: rgba(0, 0, 0, .5)
}

.hbd-headline{
    font-size:1.1em;
    font-weight: bolder;
}